*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:sans-serif;
}

body{

background:#1f242d;
color:white;

}

.header{

position:fixed;
top:0;
left:0;
width:100%;
padding:20px 10%;
display:flex;
justify-content:space-between;
align-items:center;
background:#1f242d;

}

.logo{

font-size:25px;
font-weight:bold;

}

.navbar a{

margin-left:30px;
text-decoration:none;
color:white;

}

.home{

display:flex;
justify-content:space-between;
align-items:center;
padding:120px 10%;

}

.home-content h1{

font-size:60px;

}

.home-content span{

color:#0ef;

}

.btn{

display:inline-block;
padding:12px 28px;
background:#0ef;
border-radius:40px;
color:black;
margin-top:20px;
text-decoration:none;
font-weight:bold;

}

.home-img img{

width:300px;
border-radius:20px;
box-shadow:0 0 25px #0ef;

}
